*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    background-color: floralwhite;
    color: rgb(51, 10, 68);
    text-align: center;
}

body {
  background-color: rgb(11, 90, 90);
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

input {
  height: 50px;
  width: 50%;
  padding: 6px;
  margin-top: 10px;
  font-size: 24px;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff9500;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #febc5d;
}

.PW {
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}